@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: black;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(246, 246, 246);
  border-radius: 8px;
  max-height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(164, 164, 164);
  border-radius: 14px;
  max-height: 10px;
}
*::-webkit-scrollbar-thumb {
  min-height: 40px;
}
.react-markdown a {
  color: blue;
  text-decoration: underline;
}

@layer components {
  .btn {
    @apply ml-auto mr-0 flex max-h-max  max-w-max  items-center justify-center whitespace-nowrap rounded border border-neutral-500 bg-transparent px-2 py-1 font-bold text-neutral-500 hover:border-neutral-800 hover:shadow-lg focus:outline-none focus:ring;
  }
}
