@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: black;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(246, 246, 246);
  border-radius: 8px;
  max-height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(164, 164, 164);
  border-radius: 14px;
  max-height: 10px;
}
*::-webkit-scrollbar-thumb {
  min-height: 40px;
}
.react-markdown a {
  color: blue;
  text-decoration: underline;
}

@layer components {
  .btn {
    @apply ml-auto mr-0 flex max-h-max max-w-max items-center justify-center whitespace-nowrap rounded border border-neutral-500 bg-transparent px-2 py-1 font-bold text-neutral-500 hover:border-neutral-800 hover:shadow-lg focus:outline-none focus:ring;
  }
  .nav-btn {
    @apply relative px-1.5 py-3 flex items-center space-x-4 justify-start text-gray-700 rounded-lg;
  }
  .input-primary {
    @apply bg-neutral-200 rounded p-5 text-base w-full;
  }
  .btn-red {
    @apply flex min-w-[92px] justify-center flex-row border-[1.5px] text-red-600 border-red-600 bg-red-50 py-1 px-3 rounded-lg font-semibold;
  }
  .btn-green {
    @apply flex min-w-[92px] justify-center flex-row border-[1.5px] text-green-600 border-green-600 bg-green-50 py-1 px-3 rounded-lg first-letter:font-semibold;
  }
  .btn-blue {
    @apply flex min-w-[92px] justify-center flex-row border-[1.5px] text-blue-600 border-blue-600 bg-blue-50 py-1 px-3 rounded-lg font-semibold;
  }
  .shadow-primary {
    @apply shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)];
  }
}
